body {
  background: white;
  height:100vh;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: -15px;
}

.top-space {
  height:4vh;
}

.button {
  margin-bottom: 15px;
  width: 150px;
  height:40px;
  border-color: inherit;
  outline: none;
}

.textfield {
  width: 40px;
}


.box {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: auto;
}

.block {
  background-color: black;
  width: 17.5px;
  height: 17.5px;
}

.button {
  margin: auto;
  width: 150px;
  height:40px;
  margin-bottom: 20px;
  background-color: inherit;
  border-color: inherit;
  outline: none;
}


.center {
  display: flex;
  align-content: center;
  flex-direction: column;

  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  width: 320px;

  border: 1px;
  border-radius: 25px;

  background-color: rgba(255, 255, 255, .2);
}
