body {
  margin: 0;
  padding: 0;
}

.fullBackground {
  padding-top: 25px;
  padding-bottom: 25px;
  background-position: bottom;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  width: 100%;
}

h2 {
  margin-bottom: -15px;
}

.button {
  margin-bottom: 15px;
  width: 150px;
  height: 40px;
  border-color: inherit;
  outline: none;
}

.textfield {
  width: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: auto;
}

.block {
  background-color: #00000050;
}

.button {
  margin: auto;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  background-color: inherit;
  border-color: inherit;
  outline: none;
}

.center {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  width: 320px;
  border: 1px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .2);
}
